{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers_inline.html" import render_field_inline %}

{% block app_content %}
<div class="row" >
    <div class="col-sm-3 bg-success">
        <h3>Новый декор</h3>
        <form action="" method="post">
                {{ forms.hidden_tag() }}
                <dl>
                    {{ render_field(forms.indexname) }}
                    {{ render_field(forms.decorname) }}

                    {{ render_field_inline(forms.primer) }}
                    {{ render_field_inline(forms.paint) }}
                    {{ render_field_inline(forms.veneer) }}
                    {{ render_field_inline(forms.laminate) }}
                    {{ render_field_inline(forms.cased_glass) }}
                    {{ render_field_inline(forms.glass_cleare) }}
                    {{ render_field_inline(forms.glass_plus) }}

                    {{ forms.submit(class_="btn btn-default") }}
                </dl>
        </form>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped text-center" id="same_table">
            <caption>Таблица декора</caption>
            <thead>
                <tr>
                    <th class="text-center">Индекс</th>
                    <th class="text-center">Тип</th>
                    <th class="text-center">Название</th>
                </tr>
            </thead>
            <tbody>
            {% for decor in decors %}
            <tr>
                <td>
                    <strong>{{ decor.indexname }}</strong>
                </td>
                <td>
                    {% if decor.primer %}
                        Грунт
                    {% elif decor.paint %}
                        Краска
                    {% elif decor.veneer %}
                        Шпон
                    {% elif decor.laminate %}
                        Плёнка
                    {% elif decor.cased_glass %}
                        Накладное
                    {% elif decor.glass_cleare %}
                        Для Cleare
                    {% elif decor.glass_plus %}
                        Для Plus
                    {% endif %}
                </td>
                <td>
                    {{ decor.decorname }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
