{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}
{% from "_formhelpers_inline.html" import render_field_inline %}

{% block app_content %}
<div class="row" >
    <div class="col-sm-3 bg-success">
        <h3>Новая модель</h3>
        <form action="" method="post">
            {{ forms.hidden_tag() }}
            <dl>
                {{ render_field(forms.modelname) }}

                {{ render_field_inline(forms.primer) }}
                {{ render_field_inline(forms.paint) }}
                {{ render_field_inline(forms.veneer) }}
                {{ render_field_inline(forms.laminate) }}
                {{ render_field_inline(forms.cased_glass) }}
                {{ render_field_inline(forms.glass_cleare) }}
                {{ render_field_inline(forms.glass_plus) }}

                {{ forms.submit(class_="btn btn-default") }}
            </dl>
        </form>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped text-center" id="same_table">
            <caption>Таблица Моделей</caption>
            <thead>
                <tr>
                    <th class="text-center">Название</th>
                    <th class="text-center">Грунт</th>
                    <th class="text-center">Краска</th>
                    <th class="text-center">Шпон</th>
                    <th class="text-center">Пленка</th>
                    <th class="text-center">Накладное</th>
                    <th class="text-center">Cleare</th>
                    <th class="text-center">Plus</th>
                </tr>
            </thead>
            <tbody>
            {% for model in door_models %}
            <tr>
                <td>
                    <strong>{{ model.modelname }}</strong>
                </td>
                <td>
                    {{ '\u2714' if model.primer else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.paint else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.veneer else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.laminate else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.cased_glass else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.glass_cleare else '-' }}
                </td>
                <td>
                    {{ '\u2714' if model.glass_plus else '-' }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
