{% extends "base.html" %}

{% block content %}
    <h1>Новый декор</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.indexname.label }}<br>
            {{ form.indexname(size=32) }}<br>
            {% for error in form.indexname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.decorname.label }}<br>
            {{ form.decorname(size=32) }}<br>
            {% for error in form.decorname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <div>
        {% for decor in decors %}
            <p><strong>{{ decor.indexname|center(width=5) }}</strong>:- {{ decor.decorname }}</p>
        {% endfor %}
    </div>
{% endblock %}
