{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
    <h1>Новый декор</h1>
    <form action="" method="post">
        {{ forms.hidden_tag() }}
        <dl>
            {{ render_field(forms.indexname) }}
            {{ render_field(forms.decorname) }}
            {{ render_field(forms.decor_type) }}
            {{ forms.submit }}
        </dl>
    </form>
    <hr>
    <div>
        <table border="1">
            <caption>Таблица декора</caption>
            <tr>
                <th>Индекс</th>
                <th>Тип</th>
                <th>Название</th>
            </tr>
            {% for decor in decors %}
            <tr>
                <td>
                    <strong>{{ decor.indexname }}</strong>
                </td>
                <td>
                    {% if decor.decor_type == '1000' %}
                        Плёнка
                    {% elif decor.decor_type == '0100' %}
                        Накладное
                    {% elif decor.decor_type == '0010' %}
                        Для Cleare
                    {% elif decor.decor_type == '0001' %}
                        Для Plus
                    {% endif %}
                </td>
                <td>
                    {{ decor.decorname }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
