{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}
<div class="row" >
    <div class="col-sm-3 bg-success">
        <h3>Новый декор</h3>
        <form action="" method="post">
                {{ forms.hidden_tag() }}
                <dl>
                    {{ render_field(forms.indexname) }}
                    {{ render_field(forms.decorname) }}
                    {{ render_field(forms.decor_type) }}
                    {{ forms.submit(class_="btn btn-default") }}
                </dl>
        </form>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped text-center" id="same_table">
            <caption>Таблица декора</caption>
            <thead>
                <tr>
                    <th class="text-center">Индекс</th>
                    <th class="text-center">Тип</th>
                    <th class="text-center">Название</th>
                </tr>
            </thead>
            <tbody>
            {% for decor in decors %}
            <tr>
                <td>
                    <strong>{{ decor.indexname }}</strong>
                </td>
                <td>
                    {% if decor.decor_type == '1000' %}
                        Плёнка
                    {% elif decor.decor_type == '0100' %}
                        Накладное
                    {% elif decor.decor_type == '0010' %}
                        Для Cleare
                    {% elif decor.decor_type == '0001' %}
                        Для Plus
                    {% endif %}
                </td>
                <td>
                    {{ decor.decorname }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
