{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}
<div class="row" >
    <div class="col-sm-3 bg-success">
        <h3>Новая модель</h3>
        <form action="" method="post">
            {{ forms.hidden_tag() }}
            <dl>
                {{ render_field(forms.modelname) }}
                {{ render_field(forms.laminate) }}
                {{ render_field(forms.cased_glass) }}
                {{ render_field(forms.glass_cleare) }}
                {{ render_field(forms.glass_plus) }}
                {{ forms.submit(class_="btn btn-default") }}
            </dl>
        </form>
    </div>
    <div class="col-sm-9">
        <table class="table table-bordered table-striped text-center" id="same_table">
            <caption>Таблица Моделей</caption>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Пленка</th>
                    <th>Накладное</th>
                    <th>Cleare</th>
                    <th>Plus</th>
                </tr>
            </thead>
            <tbody>
            {% for model in door_models %}
            <tr>
                <td>
                    <strong>{{ model.modelname }}</strong>
                </td>
                <td>
                    {{ 'Да' if model.laminate else 'Нет' }}
                </td>
                <td>
                    {{ 'Да' if model.cased_glass else 'Нет' }}
                </td>
                <td>
                    {{ 'Да' if model.glass_cleare else 'Нет' }}
                </td>
                <td>
                    {{ 'Да' if model.glass_plus else 'Нет' }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
