{% extends "base.html" %}

{% block app_content %}

    {% include 'order_table.html' %}

    {% include 'position_table.html' %}

<div class="bg-info">
    <br>
    <form action="" method="post">
        {{ forms.hidden_tag() }}
        <div class='text-center'>
            {{ forms.body.label }}
            {{ forms.body(rows=5, class_='form-control') }}
        </div>
        <div>
            {{ forms.submit(class_="btn btn-block btn-lg btn-info", value='Изменить') }}
        </div>
    </form>
</div>

<hr>
    <form action="{{ url_for('order_remark_delete', order_number=order.order_number) }}" method="POST">
        <input type="submit" value="Очистить примечание"
                class="btn btn-block btn-lg btn-danger">
    </form>
<hr>


{% endblock %}
