{% extends "base.html" %}

{% block app_content %}

    {% include 'order_table.html' %}

    {% include 'position_table.html' %}

<div class="bg-info">
    <br>
    <form action="" method="post">
        {{ forms.hidden_tag() }}
        <div class='text-center'>
            {{ forms.body.label }}
            {{ forms.body(rows=5, class_='form-control') }}
        </div>
        <div class="row">
                <div class="col-sm-8">
                    {{ forms.submit(class_="btn btn-block btn-lg btn-info", value='Изменить') }}
                </div>
                <div class="col-sm-3 col-md-offset-1">
                    <a class="btn btn-block btn-lg btn-warning" href="{{ url_for('order_remark_delete', order_number=order.order_number) }}">Очистить примечание</a>
                </div>
            </div>
        <dl>

        </dl>
    </form>
</div>

{% endblock %}
