{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}

    {% include 'order_table.html' %}
    {% include 'position_table.html' %}
    {% include 'order_remark.html' %}
<br>
<div class="row" >
    <div class="col-sm-3">
        <div>
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.add_order_position', order_number=order.order_number) }}">Добавить позицию</a>
        </div>
    </div>

    <div class="col-sm-3">
        {% if remark %}
            <div>
                <a class="btn btn-info btn-lg" href="{{ url_for('main.order_remark_edit', order_number=order.order_number) }}">Изменить примечание</a>
            </div>
        {% else %}
            <div>
                <a class="btn btn-info btn-lg" href="{{ url_for('main.order_remark_add', order_number=order.order_number) }}">Добавить примечание</a>
            </div>
        {% endif %}

    </div>
    <div class="col-sm-3">
    </div>

    <div class="col-sm-3 text-right" >
        {# {% if current_user.is_designers %} #}
            {% include 'scetch_button.html' %}
        {# {% endif %} #}
    </div>

</div>
<br>
{% if order.sketch_is_ready %}
    <div>
        <embed src="{{ url_for('static', filename='pdf/{}_sketch.pdf'.format(order.order_number)) }}" width="100%" height="900" type="application/pdf" />
    </div>
{% endif %}

{% endblock %}

