{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}

    {% include 'order_table.html' %}
    {% include 'position_table.html' %}

<div class="row" >

    <div class="col-sm-3">
        <br>
        <div>
            <a class="btn btn-primary btn-lg" href="{{ url_for('add_order_position', order_number=order.order_number) }}">Добавить позицию</a>
        </div>
        <br>
    </div>

    <div class="col-sm-6">
    </div>

    <div class="col-sm-3 text-right" >
        {# {% if current_user.is_designers %} #}
            {% include 'scetch_button.html' %}
        {# {% endif %} #}
    </div>

</div>

{% endblock %}
