{% from "_formhelpers.html" import render_field %}

<div>
    <table class="table table-bordered table-striped text-center table-hover table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th rowspan="2" class="text-center">№ п/п</th>
                <th rowspan="2" class="text-center">Пом.</th>
                <th rowspan="2" class="text-center">Модель</th>
                <th rowspan="2" class="text-center">Основа</th>
                <th rowspan="2" class="text-center">Декор</th>
                <th rowspan="2" class="text-center">Алюм. торец</th>
                <th rowspan="2" class="text-center">Тип лутки</th>
                <th colspan="2" class="text-center">Полотно</th>
                <th rowspan="2" class="text-center">Нал., кол</th>
                <th rowspan="2" class="text-center">Добор, мм</th>
                <th colspan="3" class="text-center">Замок</th>
                <th colspan="3" class="text-center">Петли</th>
                <th rowspan="2" class="text-center">Уплот</th>
            </tr>
            <tr>
                <th class="text-center">Выс</th>
                <th class="text-center">Шир</th>

                <th class="text-center">Назн</th>
                <th class="text-center">Тип</th>
                <th class="text-center">Цвет</th>

                <th class="text-center">Стор</th>
                <th class="text-center">Тип</th>
                <th class="text-center">Цвет</th>

            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>
                    <a href="{{ url_for('main.edit_order_position', order_number=order.order_number, serial_number=position.serial_number) }}">
                        <button type="button" class="btn"> {{ position.serial_number }} </button>
                    </a>
                </td>
                <td>{{ position.room }}</td>
                <td>{{ position.doormodel }}</td>
                <td>{{ position.base_decor }}</td>
                <td>{{ position.second_decor }}</td>

                <td>{{ position.alum_butt }}</td>
                <td>{{ position.frame_type }}</td>

                <td>{{ position.doors_height }}</td>
                <td>{{ position.doors_width }}</td>

                <td>{{ position.casings_count }}</td>
                <td>{{ position.expander }}</td>

                <td>{{ position.lock_purpose }}</td>
                <td>{{ position.lock_kind }}</td>
                <td>{{ position.lock_color }}</td>

                <td>{{ position.hinge_side }}</td>
                <td>{{ position.hinge_kind }}</td>
                <td>{{ position.hinge_color }}</td>

                <td>{{ position.door_seal }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
