{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}

<div>
    <h2>
        Заказ № <a href="{{ url_for('order', order_number=order.order_number) }}">{{ order.order_number }}</a> позиция № {{ position.serial_number }}
    </h2>
</div>

<div>
    <form action="" method="post">
    {{ forms.hidden_tag() }}

        <table class="table table-bordered table-striped text-center table-hover table-condensed">
            <thead class="thead-inverse">
                <tr>
                    <th class="text-right">Текущее</th>
                    <th class="text-center" width="20%">Поле</th>
                    <th class="text-left">Изменить</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-right">{{ position.room }}</td>
                    <td>Помещение</td>
                    <td class="text-left">{{ forms.room }}</td>
                </tr>
                <tr>

                    <td class="text-right">{{ position.doormodel }}</td>
                    <td>Модель полотна</td>
                    <td class="text-left">{{ forms.doormodel_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.base_decor }}</td>
                    <td>Основное покрытие</td>
                    <td class="text-left">{{ forms.base_decor_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.second_decor }}</td>
                    <td>Доп. декор</td>
                    <td class="text-left">{{ forms.second_decor_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.alum_butt }}</td>
                    <td>Алюминиевіьй торец</td>
                    <td class="text-left">{{ forms.alum_butt_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.frame_type }}</td>
                    <td>Тип лутки</td>
                    <td class="text-left">{{ forms.frame_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.doors_height }}</td>
                    <td>Высота полотна</td>
                    <td class="text-left">{{ forms.doors_height }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.doors_width }}</td>
                    <td>Ширина полотна</td>
                    <td class="text-left">{{ forms.doors_width }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.casings_count }}</td>
                    <td>Количество наличников</td>
                    <td class="text-left">{{ forms.casing_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.expander }}</td>
                    <td>Добор</td>
                    <td class="text-left">{{ forms.expander_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.lock_purpose }}</td>
                    <td>Назначение замка</td>
                    <td class="text-left">{{ forms.lock_purpose_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.lock_kind }}</td>
                    <td>Тип замка</td>
                    <td class="text-left">{{ forms.lock_kind_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.lock_color }}</td>
                    <td>Цвет замка</td>
                    <td class="text-left">{{ forms.lock_color_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.hinge_side }}</td>
                    <td>Сторона петель</td>
                    <td class="text-left">{{ forms.hinge_side_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.hinge_kind }}</td>
                    <td>Тип петель</td>
                    <td class="text-left">{{ forms.hinge_kind_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.hinge_color }}</td>
                    <td>Цвет петель</td>
                    <td class="text-left">{{ forms.hinge_color_id }}</td>
                </tr>
                <tr>
                    <td class="text-right">{{ position.door_seal }}</td>
                    <td>Уплотнитель</td>
                    <td class="text-left">{{ forms.doors_seal_id }}</td>
                </tr>
                <tr>

                    <td colspan="3">{{ forms.submit(class_="btn btn-primary btn-lg btn-block", value='Изменить') }}</td>
                </tr>

            </tbody>
        </table>
    </form>

    <hr>
    <form action="{{ url_for('delete_order_position', order_number=order.order_number, serial_number=position.serial_number) }}" method="POST">
        <input type="submit" value="Удалить"
                class="btn btn-danger btn-lg"
                onclick="return confirm('Вы уверены что хотите удалить эту позицию?')">
    </form>
    <hr>

</div>

{% endblock %}
