{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}

    <table class="table table-bordered table-striped text-center" id="same_table">
        <caption>Заказ №</caption>
        <thead>
            <tr>
                <th class="text-center">№ п/п</th>
                <th class="text-center">Комната</th>
                <th class="text-center">Модель</th>
                <th class="text-center">Основа</th>
                <th class="text-center">Декор</th>
                <th class="text-center">Тип лутки</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>
                    {{ loop.index }}
                </td>
                <td>
                    {{ position.room }}
                </td>
                <td>
                    {{ position.doormodel_id }}
                </td>
                <td>
                    {{ position.base_decor_id }}
                </td>
                <td>
                    {{ position.second_decor_id }}
                </td>
                <td>
                    {{ position.frame_id }}
                </td>
            </tr>
            {% endfor %}
            {% print(pos) %}
        </tbody>
    </table>

<div>
    <h3>Позиция</h3>
    <form action="" method="post">
        {{ forms.hidden_tag() }}
        <dl>
            {{ render_field(forms.room) }}
            {{ render_field(forms.doormodel_id) }}
            {{ render_field(forms.base_decor_id) }}
            {{ render_field(forms.second_decor_id) }}
            {{ render_field(forms.frame_id) }}
            {{ render_field(forms.height_block) }}
            {{ render_field(forms.width_block) }}
            {{ render_field(forms.expander_id) }}
            {{ forms.submit(class_="btn btn-default") }}
        </dl>
    </form>
</div>
{% endblock %}
