{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }}</b>
    </p>
    {% endfor %}

    <p>
    qwe says: <a href="https://habr.com/ru/post/346348/"><b>https://habr.com/ru/post/346348/</b></a>
    </p>

    <p>
    qwe says: <a href="https://pythonru.com/uroki/7-osnovy-shablonizatora-jinja"><b>https://pythonru.com/uroki/7-osnovy-shablonizatora-jinja</b></a>
    </p>

    <p>
    qwe says: <a href="https://www.google.com/search?source=hp&ei=PGfXXqL6N8_ergS2uJigCA&q=Flask+ajax+SelectField&oq=Flask+ajax+SelectField&gs_lcp=CgZwc3ktYWIQAzIHCCEQChCgATIHCCEQChCgAVCpAlipAmDMC2gAcAB4AIAB_AGIAfwBkgEDMi0xmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiiiKXYpOXpAhVPr4sKHTYcBoQQ4dUDCAY&uact=5"><b>https://www.google.com/search?source=hp&ei=PGfXXqL6N8_ergS2uJigCA&q=Flask+ajax+SelectField&oq=Flask+ajax+SelectField&gs_lcp=CgZwc3ktYWIQAzIHCCEQChCgATIHCCEQChCgAVCpAlipAmDMC2gAcAB4AIAB_AGIAfwBkgEDMi0xmAEAoAECoAEBqgEHZ3dzLXdpeg&sclient=psy-ab&ved=0ahUKEwiiiKXYpOXpAhVPr4sKHTYcBoQQ4dUDCAY&uact=5</b></a>
    </p>

    <p>
    qwe says: <a href="https://www.youtube.com/watch?v=I2dJuNwlIH0"><b>https://www.youtube.com/watch?v=I2dJuNwlIH0</b></a>
    </p>

    <p>
    qwe says: <a href="https://stackoverflow.com/questions/34618956/javascript-ajax-to-dynamically-update-wtforms-select-field"><b>https://stackoverflow.com/questions/34618956/javascript-ajax-to-dynamically-update-wtforms-select-field</b></a>
    </p>

    <p>
    qwe says: <a href="https://github.com/saltycrane/flask-jquery-ajax-example"><b>https://github.com/saltycrane/flask-jquery-ajax-example</b></a>
    </p>

    <p>
    qwe says: <a href="https://hruks.ru/2016/05/31/%D0%B4%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE%D0%B4%D0%B3%D1%80%D1%83%D0%B7%D0%B4%D0%BA%D0%B0-select-combobox/"><b>https://hruks.ru/2016/05/31/%D0%B4%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F-%D0%BF%D0%BE%D0%B4%D0%B3%D1%80%D1%83%D0%B7%D0%B4%D0%BA%D0%B0-select-combobox/</b></a>
    </p>

    <p>
    qwe says: <a href="https://gist.github.com/rschutjens/4d8302071f467d3395b87dad3993fc3c"><b>https://gist.github.com/rschutjens/4d8302071f467d3395b87dad3993fc3c</b></a>
    </p>

{% endblock %}
