{% extends "base.html" %}

{% from "_formhelpers.html" import render_field %}

{% block app_content %}

    {% include 'order/order_table.html' %}

    {% include 'order/position_table.html' %}

    {% include 'order/position_form.html' %}

{% endblock %}


{% block scripts %}
    {{ super() }}
        <script type="text/javascript" charset="utf8">

            {% include 'script_load_decor.html' %}

            $(document).ready(load_decor());

            $('#doormodel_id').change(load_decor);

        </script>


{% endblock %}
