{% from "_formhelpers.html" import render_field %}

    <table class="table table-bordered table-striped text-center" >
        <thead>
            <tr>
                <th class="text-center">Заказ №</th>
                <th class="text-center">Дата создания</th>
                <th class="text-center">Оформил</th>
                <th class="text-center">Дилер</th>
                <th class="text-center">Город</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{{ url_for('order.order', order_number=order.order_number) }}">
                        {{ order.order_number }}
                    </a>
                </td>
                <td>
                    {{ moment(order.timestamp).format('LLL') }}
                </td>
                <td>
                    {{ order.creator }}
                </td>
                <td>
                    {{ order.customer_manager }}
                </td>
                <td>
                    {{ order.customer_city }}
                </td>
            </tr>
        </tbody>
    </table>

